<form action="register.php" method="post">		
		First Name: <br/>
		<input type="text" name="firstName"/><br /><br/>
		Last Name: <br/>
		<input type="text" name="lastNname"/><br /><br/>
		Email: <br />
		<input type="text" name="email"/><br /><br />
		Username: <br/>
		<input type="text" name="username"/><br /><br/>
		Password: <br />
		<input type="password" name="password1"/><br /><br/>
		Retype Password: <br />
		<input type="password" name="password2"/><br /><br/>

		<input type="submit" name="submit" value="Register!" />
</form>